@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 6.25rem;
  }

  html {
    @apply text-gray-900;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    width: 100vw;
    height: 100vh;

    font-weight: normal;
    font-size: 1rem;

    line-height: 1.1;
    letter-spacing: 0em;

    overflow: overlay;
    scrollbar-width: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothign: grayscale;
  }

  *, button, input {
    box-sizing: border-box;
  }
}