@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 6.25rem;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  html {
    @apply text-gray-900;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    width: 100vw;
    height: 100vh;

    font-weight: normal;
    font-size: 1rem;

    line-height: 1.1;
    letter-spacing: 0em;

    overflow: overlay;
    scrollbar-width: none;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothign: grayscale;
  }

  *, button, input {
    box-sizing: border-box;
  }

  body.menu-expanded {
    overflow: hidden;
  }

  body.menu-expanded > :not(nav) {
    visibility: hidden;
  }

  .menu, 
  .close-menu,
  body.menu-expanded .open-menu {
      opacity: 0;
      visibility: hidden;
  }

  body.menu-expanded .menu, 
  body.menu-expanded .close-menu {
      opacity: 1;
      visibility: visible;
  }

  .menu {
    transform: translateY(100%);
  } 

  body.menu-expanded .menu {
    @apply bg-primary absolute left-0 top-0 w-full h-full px-[14px];

    transition: transform 300ms;
    transform: translateY(0);
  }

  #backToTopButton {
  @apply fixed bottom-[1rem] right-[1rem] opacity-0;
  visibility: hidden;
  transform: translateY(100%);
  transition: 200ms;
  }

  #backToTopButton.show {
    @apply visible opacity-100 border-2 rounded-[50%];
    transform: translateY(0);
  }
}