@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }

  body {
    font-weight: normal;
    font-size: 1rem;

    line-height: 1.1;
    letter-spacing: 0em;

    scrollbar-width: none;
  }

  *, button, input {
    box-sizing: border-box;
  }
}